'.text.html':
  'Yii CHtml::activeRadioButton':
    'prefix': 'harb'
    'body': '<?php echo CHtml::activeRadioButton(${1:model}, \'${2:attribute}\'${3:, [\'${4:optionName}\' => ${5:optionValue}]}); ?>'
