'.text.html':
  'Yii CHtml::activeDropDownList':
    'prefix': 'haddl'
    'body': '<?php echo CHtml::activeDropDownList(${1:model}, \'${2:attribute}\', [$3]${4:, [\'${5:optionName}\' => ${6:optionValue}]}); ?>'
