'.text.html':
  'Yii CHtml::activePasswordField':
    'prefix': 'hapf'
    'body': '<?php echo CHtml::activePasswordField(${1:model}, \'${2:attribute}\'${3:, [\'${4:optionName}\' => ${5:optionValue}]}); ?>'
